.spacer{
    margin-left: 1em;
}

.align{
    width: 120px;
    display: inline-block;
}

@media(max-width: 768px){
    .hidden{
        display: none;
    }
}

@media(min-width: 768px){
    .menu{
        display: none;
    }
}

.para{
    opacity: 0.75;
}

mat-card{
    margin-bottom: 2em;
}