.mat-display-1{
    margin-bottom: 1em;
}

.mat-title{
    margin-top: 2em;
    margin-bottom: 0em;
}

.example-spacer {
    flex: 1 1 auto;
}

.btn{
    margin-right: 1em;
}

.margin{
    margin-top: 4em;
}