<mat-card class="example-card" *ngFor="let book of books; let i = index">
  <mat-card-header>
    <mat-card-title>{{book.title}} (ISBN {{book.isbn}})</mat-card-title>
    <mat-chip-list *ngIf="book.status === 'available'">
      <mat-chip color="accent" selected>available</mat-chip>
    </mat-chip-list>
    <mat-chip-list *ngIf="book.status === 'not available'">
      <mat-chip color="warn" selected>not available</mat-chip>
    </mat-chip-list>
    <mat-card-subtitle *ngIf="book.status === 'not available'">available date {{book.availableDate}}</mat-card-subtitle>
  </mat-card-header>

  <!-- Content -->
  <mat-card-content>
    <div class="spacer">
      <p class="hidden para">
        <span class="mat-body-2 align">Sector</span>
        <span class="mat-body-1 spacer">{{book.sector}}</span> <br>
        <span class="mat-body-2 align">Publication date</span>
        <span class="mat-body-1 spacer">{{book.publicationDate | date}}</span> <br>
        <span class="mat-body-2 align">Publisher</span>
        <span class="mat-body-1 spacer">{{book.publisher}}</span> <br>
        <span class="mat-body-2 align">Author(s)</span>
        <span class="mat-body-1 spacer" *ngFor="let author of book.authors">{{author.name}}</span> <br>
        <span class="mat-body-2 align">Pages</span>
        <span class="mat-body-1 spacer">{{book.numOfPages}}</span> <br>
      </p> 
    </div>
  </mat-card-content>

  <!-- Options -->
  <mat-card-actions>
    <button mat-button color="accent" class="hidden" (click)="openDialog(book.isbn)" [disabled]="book.status === 'not available'">BORROW</button>
    <button mat-button color="accent" class="hidden" (click)="onReturn(book.isbn)" [disabled]="book.status === 'available'">RETURN</button>
    <button mat-button color="accent" class="hidden">RESERVE</button>
    <button mat-button color="warn" class="hidden" (click)="onDelete(book.isbn)">DELETE</button>

    <!-- Options when shrinked -->
    <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openDialog(book.isbn)">
        <span>Borrow</span>
        </button>
        <button mat-menu-item (click)="onReturn(book.isbn)">
        <span>Return</span>
        </button>
        <button mat-menu-item>
        <span>Reserve</span>
        </button>
        <button mat-menu-item (click)="onDelete(book.isbn)">
        <span>Delete</span>
        </button>
    </mat-menu>

  </mat-card-actions>

</mat-card>
  